<% notifications.each do |notification| %>
  <li class="dropdown-item d-flex justify-content-between align-items-center 
      <%= notification.read? ? '' : 'bg-secondary-subtle' %>"> 
    <div class="w-100">
      <%= button_to notification.message, mark_as_read_notification_path(notification), 
          method: :patch, remote: true, 
          class: "btn btn-link text-start text-decoration-none text-dark fw-semibold w-100 p-0" %>
      <small class="text-muted d-block"><%= time_ago_in_words(notification.created_at) %> ago</small>
    </div>
  </li>
<% end %>

<% if notifications.empty? %>
  <li class="dropdown-item text-muted text-center fw-bold">No new notifications</li>
<% end %>
